/* The WIT font is Open Sauce One */
@font-face {
    font-family: 'OpenSauceOne';
    src: url('/static/fonts/OpenSauceOne-Regular.ttf') format('truetype');
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'OpenSauceOne', sans-serif;
  background-color: white;
}

h1 {
  font-size: 24px;
  text-align: left;
  margin: 10px; 
  margin-left: 40px;
}

p {
    margin-left: 40px;
}

h2 {
    font-size: 20px;
    text-align: center;
}

.many_center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

.single_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#socials {
    margin-left: 5px;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #6f56a9;
    color: black;
}

.profile {
    text-align: center;
    font-size: 15px;
}


/* 
    Banner Slideshow 
 */

.slider {
    width: 100%;
    height: 510px;
    position: relative;
}

  
.slider img { 
    width: 100%; 
    height: 500PX; /* Set the Height to auto but after X width, keep the image set. */
    position: absolute;
    top: 0;
    left: 0;
} 
  
.slider img:first-child {
    z-index: 1;
}

.slider img:nth-child(2) {
    z-index: 0;
}

.navigation-button {
    text-align: center;
    position: relative;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.activebanner,
.dot:hover {
    background-color: #717171;
}








/* 
    If the screen is 400px or smaller, set the image to 300px 
    @media only screen and (max-width: 400px) {
        #smiley {
            width: 300px;
        }
    }

    or use fludity and set the images by screen percentage
    #smiley {
        width: 50%;
        height: auto;
    }


*/