@font-face { /* The official WIT font is Open Sauce One */
    font-family: 'OpenSauceOne';
    src: url('/static/fonts/OpenSauceOne-Regular.ttf') format('truetype');
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'OpenSauceOne', sans-serif;
}


h1 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
}

.many_center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

.single_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#socials {
    margin-left: 5px;
}


/* 
    Banner Slideshow 

    !== SOMEWHAT WORKS - TRY TO MAKE IT SMOOTHER

 */

.slider {
    width: 100%;
    height: 425px;
    position: relative;
}

.slider img { 
    width: 100%; 
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
} @media only screen and (max-width: 1250px) {
    .slider img {
        width: 1250px;
    }
    .slider {
        height: 400px;
    }
}
  
.slider img:first-child {
    z-index: 1;
}

.slider img:nth-child(2) {
    z-index: 0;
}

.navigation-button {
    text-align: center;
    position: relative;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.activebanner,
.dot:hover {
    background-color: #717171;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 16px;
    text-align: center;
    float: left;
    width: 33.33%;
  }

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
  }

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 40px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Cards */
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}


a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

/* card banner */
@import "compass/css3";

/* //colors
//https://kuler.adobe.com/Theme-3-color-theme-4334234/ */


.card-banner{
  margin: 20px auto;
  display: block;
  background: #f0f0f0;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 3px 3px rgba(0,0,0,.2), 0px 2px 0px rgba(#408BC8,.5);
  overflow: hidden;
  max-width: 800px;
    .card-stuff{
      width: 80%;
      padding: 20px 40px;
      padding-right: 75px;
      transition: .3s ease-in-out;
      time {
    float: right;
    position: relative;
        top: -25px;
        font-size: 12px;
    }
      &.active{
        width: 60%;
      }
    }
  
  .com-contain {
    overflow: hidden;
    position: absolute;
    padding-top: 40px;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background: #408BC8;
    box-shadow: inset 2px 0px 3px rgba(0,0,0,.2);
          transition: .3s all cubic-bezier(.75,.03,.41,1.4);
    &:hover{
      transition: .3s all cubic-bezier(.75,.03,.41,1.4);
      background: darken(#408BC8,5%);
      box-shadow:inset 2px 0px 3px rgba(0,0,0,.2), inset -3px 0px darken(#408BC8,8%);
    }
    &.active{
      &:hover{
        background: #408bc8;
         box-shadow:inset 2px 0px 3px rgba(0,0,0,.2), inset -3px 0px darken(#408BC8,8%);
      }
      width: 30%;
      max-width: 300px;
      .com-stuff {
        transform: translateX(0);
        transition-delay: .3s;
      }
      .com-desc{
       transform: translateX(300px) rotate(90deg);
          transition-delay: 0s;
      }
      .com-expand{
        background: rgba(0,0,0,0);
        perspective: 1000;
        &:before{
          transform: rotate(135deg);
         transform-origin: 50% 50%;
          top: 0;
          left: 0;
          width: 25px;
          background: lighten(#6BAFE0,20%);
          box-shadow: 0px 2px 2px rgba(0,0,0,.1);
        }
        &:after{
          transform: rotate(-495deg);
          transform-origin: 50% 10%;
          top: 0;
          left: 0;
          width: 25px;
          background: lighten(#6BAFE0,20%);
        }
      }
    }
  }
}

.com-expand-holder {
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
  height: 100%;
  width: 40px;
  cursor: pointer;
  margin-top: 10px;
  padding-top: 10px;
  z-index: 99;
  &:hover {
    .com-expand, .com-expand:before, .com-expand:after{
      transition: .3s all ease-out;
      background: darken(#408bc8,20%);
    }
  }
}
.com-expand{
  width: 25px;
  height: 4px;
  display: block;
  background: white;
  margin: 0 auto;
  border-radius: 10px;
  transition: .3s all ease-in-out;
  &:before, &:after{
    content: '';
    background: white;
    width: 15px;
    height: 4px;
    position: relative;
    display: block;
    border-radius: 10px;
    transition: .3s all ease-in-out;
  }
  &:before {
    top: -3px;
    transform: rotate(-30deg);
  }
  &:after{
    top: 0px;
    transform: rotate(30deg);
  }

}

.com-stuff {
  color: #fff;
  font-size: 14px;
  padding: 20px;
  transform: translateX(-300px);
  transition: .3s all cubic-bezier(.36,.49,.26,1.27);
  p{
    margin-top: 0px;
  }
}

.com-desc{
  transform: rotate(90deg);
  position: absolute;
  top: 90px;
  left: 0;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  transform-origin: 23% 50%;
  width: 100px;
    transition: .3s all cubic-bezier(.36,.49,.26,1.27);
          transition-delay: .3s;

}

/* events page */
.mySlides {
  cursor: pointer;
}

.dots {
  cursor: pointer;
  height: 15px;
  width: 15px;

  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.right-arrow {
  cursor:pointer;
  display:inline-block;
  margin-top: -50px;


}

.left-arrow {
  cursor:pointer;
  display:inline-block;
  margin-right:100px;

}

.event-banner{
  margin: auto;
  width: 100%;
  cursor:pointer;
  margin-bottom: 2em; 
  margin-top: 2em;
}

