<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/banner.css">
        
        <meta charset="UTF-8">
        
        <title>Women in Technology USYD</title> 
    
        <script src="/static/js/libs/axios.min.js"></script>
        <script src="/static/js/libs/jquery.min.js"></script>
        <script src="/static/js/libs/js.cookie.min.js"></script>
        <script src="/static/js/libs/main.js"></script>

    </head>

    <body>
        {% block navbar %} {% endblock %}
    </body>
    
</html>