{% extends 'index.jinja' %}

{% block navbar %} 
    <style>

        :root {
            --dark-purple: #7A1F8D;  /* Default WIT dark purple */
            --darker-purple: rgb(85, 28, 111);  /* Darker purple for hovering */
            --menu-gap: 30px; /* Gap between About Us, Events, etc.*/
        }

        /* Navigation bar */
        #navbar {
            width: 100%;  /* The navbar stretches across the entire window */
            height: 75px;
            z-index: 10; /* The navbar is stacked on top of most other UI elements */
            background: white;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        } 

        /* Wrapper containing logo, page links and join button */
        #navbar-wrapper {
            display: flex;
            height: 100%;
            margin: 0px 60px;
            align-items: center; /* Vertically aligns children */
        }

        #wit-logo {
            padding-top: 5px; /* Fine tunes the vertical alignment */
        }

        /* Menu contains page links and join button */
        #menu {
            display: flex;
            height: 100%;
            margin-left: auto; /* Align navigation menu to the right */
            gap: var(--menu-gap); /* Inserts a gap between children */
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: normal;
        }

        /* Wrapper containing the page links */
        #page-link-wrapper {
            display: flex;
            height: 100%;
            gap: var(--menu-gap); /* Inserts a gap between children */
        }

        /* Page links include About Us, Events, Sponsors, Publications, and Contact Us */
        .page-link {
            display: inline-flex; /* Inline-flex keeps it inline with text but allows flexbox properties */
            align-items: center;
            position: relative;
            color: black;
            text-decoration: none;
            padding: 0 5px; /* Optional padding to create space around the text */
        }

        .page-link::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px; /* Adjust thickness here */
            background-color: var(--dark-purple); /* Dark purple underline */
            left: 50%;
            bottom: +22px; /* Adjust to position underline directly beneath text */
            transition: width 0.3s ease;
            transform: translateX(-50%);
        }

        .page-link:hover::after {
            width: 90%; /* Full width on hover */
        }

        /* Join Us button*/
        #join-button {
            display: flex;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
            padding: 10px 20px;
            border-radius: 25px;
            background-color: var(--dark-purple);
            color: white;
            text-decoration: none;
        }

        #join-button:hover {
            background-color: var(--darker-purple);
        }


        /* ADDITIONS FOR THE DROPDOWN MENU */


        .dropdown {
            top:25px;
            right: 40px;
            position: absolute;
            display: none;
        }

        .dropdown-content {
            display: none; 
            position: absolute;
            background-color: #f1f1f1;
            min-width: 200px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            right: 0;
            z-index: 3; /*Having is display ontop of the homepage title page*/
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Show hanburger when clicked on */
        .show {display: block;}

        @media screen and (max-width: 600px) {
            #menu {display:none;}
            .dropdown {display: inline-block;}
            .page-link:hover { padding-bottom: 10px;}
            .page-link::after {bottom: 0;}
        }


    </style>
    

    <!-- Navigation bar -->
    <nav id="navbar">
        <nav id="navbar-wrapper">
            <a href ={{ url_for('index') }} id="wit-logo"><img img id="wit-logo-img" alt="WIT Logo" src="/static/images/wit_logo.jpg" width="80px"></a>
            <div id="menu">
                <div id="page-link-wrapper">
                    <a href={{ url_for('aboutus') }} class="page-link">About Us</a>
                    <a href={{ url_for('events') }} class="page-link">Events</a>
                    <a href={{ url_for('publications') }} class="page-link">Publications</a>
                    <a href={{ url_for('sponsors') }} class="page-link">Sponsors</a>
                    <a href={{ url_for('contactus') }} class="page-link">Contact Us</a>
                </div>
                <a id="join-button" href="https://usu.edu.au/clubs/women-in-technology/" target="_blank">
                    Join Us 
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.45" stroke-linejoin="round" style="margin-left: 5px;">
                        <path d="M18 13v6a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                        <polyline points="15 3 21 3 21 9"></polyline>
                        <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>
                </a>
            </div>
        </nav>
    </nav>   

    <!-- Hamburger  -->
    <div class="dropdown">
        <img onclick="collapseNav()" class="dropbtn" src="/static/images/hamburger.svg" alt="Dropdown" style="height:30px"/>
         
        <div id="myDropdown" class="dropdown-content">
            <a href={{ url_for('aboutus') }} class="page-link">About Us</a>
            <a href={{ url_for('events') }} class="page-link">Events</a>
            <a href={{ url_for('publications') }} class="page-link">Publications</a>
            <a href={{ url_for('sponsors') }} class="page-link">Sponsors</a>
            <a href={{ url_for('contactus') }} class="page-link">Contact Us</a>
            <a href="https://usu.edu.au/clubs/women-in-technology/" target="_blank" class="page-link">Join Us</a> 
        </div>
    </div>



    <body>
        {% block content %} {% endblock %}
    </body>
    
{% endblock %}
