{% extends 'top.jinja' %}

{% block content %} 

    <br>
    <h1>ABOUT US</h1>
    <p>We, Women in Technology (WIT) are ... </p>
    <br>

    <h1>MEET THE EXECUTIVES!</h1>

    <div class="row">
        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>

        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>

        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>
    </div>

        <div class="row">
        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>

        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>

        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>
    </div>

    <br><br><br>
    <footer>  
        {% include "footer.jinja" %}
    </footer>

    






{% endblock %}