{% extends 'top.jinja' %}

{% block content %} 

    <br>
    <h1>ABOUT US</h1>
    <p>Women in Technology USYD (WIT) is committed to celebrating diversity, promoting
        equality, and nurturing the growth and achievement of women in STEM fields.
        With a vibrant and enthusiastic community, we are dedicated to creating a
        hopeful and inclusive future for women in these fields. <br><br>

        Our events aim to offer educational, networking, and social incentives for
        WIT members and our sponsors. We prioritize engagement and interaction
        between participants and sponsors, and welcome suggestions for customised
        events that meet sponsors' specific needs. These events may be held on campus
        at USYD or at the sponsor's office. Hosting tailored initiatives can have a lasting
        impact on participants, increasing the visibility of our sponsors.
    </p>
    <br>

    <h1>MEET THE EXECUTIVES!</h1>

    <div class="row">
        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>

        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>

        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>
    </div>

        <div class="row">
        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>

        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>

        <div class="card">
            <img img id="profiles" alt="Portrait Placeholder" src="/static/images/Portrait_Placeholder.png" width="100px">
            <div class="container">
                <h4><b>NAME</b></h4>
                <h4><b>POSITION</b></h4>
            </div>
        </div>
    </div>

    <br><br><br>
    <footer>  
        {% include "footer.jinja" %}
    </footer>

    






{% endblock %}