{% extends 'top.jinja' %}

{% block content %} 

    <h1>CONTACT US</h1>
    <p>
        <b>General Enquiries:</b> womenintechnusyd@gmail.com <br><br>
        <b>Sponsors:</b> sponsorship@witusyd.com <br><br>
        <b>Events:</b> events@witusyd.com <br><br>
        <b>President:</b> president@witusyd.com <br><br>
    </p>


    <footer>  
        {% include "footer.jinja" %}
    </footer>
 



{% endblock %}