{% extends 'top.jinja' %}

{% block content %} 

    <h1>CONTACT US</h1>
    <p>paragraph...</p>


    {# 
    
        
        Maybe store the exec details in the db 
        
        
        #}

    <section>
        <h1> Meet our Team!</h1>
        <div class="many_center">
            <div class="profile">
                <img img id="profiles" alt="Portrait Placeholder" src="Images/Portrait_Placeholder.png" width="200px">
                <p>President</p>
            </div>
            <div class="profile">
                <img img id="profiles" alt="Portrait Placeholder" src="Images/Portrait_Placeholder.png" width="200px">
                <p>Vice-President</p>
            </div>
            <div class="profile">
                <img img id="profiles" alt="Portrait Placeholder" src="Images/Portrait_Placeholder.png" width="200px">
                <p>Vice-President</p>
            </div>
        </div>
        <br>
    </section>


 



{% endblock %}