{% extends 'top.jinja' %}

{% block content %} 

    <h1>EVENTS</h1>
    <p>paragraph...</p>

    <br> <br>
    <section>
        <!-- About Us -->
        <h2>Upcoming Events</h2>
        
        <p>FILLER FILLER FILLER FILLERV FILLER FILLER V FILLER FILLER FILLER FILLERV FILLER FILLER V </p>
        
        
    </section>
     
    <br> <br>

    <section>
        <h2>Previous Events</h2>
        
        <p>FILLER FILLER FILLER FILLERV FILLER FILLER V FILLER FILLER FILLER FILLERV FILLER FILLER V </p>
        

    </section>





{% endblock %}