{% extends 'top.jinja' %}

{% block content %} 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        hr {
            clear:both;
            display:block;
            width: 70%;               
            background-color: lightgray;
            height: 1px;
            margin: 30px 0 30px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>


 


    <body>
    <section>
    
        <div class="w3-container">
            <h1>UPCOMING EVENTS!</h1>
        </div>

        <div class="event-banner" style="max-width:1500px">

            <button onclick="alert('Register through this link!')">
                <img class="mySlides" src="/static/images/temp1.png" alt="Clickable Image" style="width:100%">
            </button>

            <button onclick="alert('Register through this link!')">
                <img class="mySlides" src="/static/images/temp2.png" alt="Clickable Image" style="width:100%">
            </button>

            <button onclick="alert('Register through this link!')">
                <img class="mySlides" src="/static/images/temp3.png" alt="Clickable Image" style="width:100%">
            </button>
              
            <div style="text-align:center">
                <span class="dots" onclick="currentDiv(1)"></span>
                <span class="dots" onclick="currentDiv(2)"></span>
                <span class="dots" onclick="currentDiv(3)"></span>

            </div>
            
        </div>

    </section>

  <h1>PAST EVENTS!</h1>

  <h2>2024</h2>
  <hr>
  

<section class="cards-wrapper">
  <div class="card-grid-space">
    <a class="card" style="--bg-img: url(/static/images/temp1.png)">
      <div>
        <h1>Event 1</h1>
        <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
        <div class="date">6 Oct 2017</div>
        <div class="tags">
          <div class="tag">SPONSORS</div>
          <div class="tag">SPONSORS</div>
        </div>
      </div>
    </a>
  </div>



  <div class="card-grid-space">
    <a class="card" style="--bg-img: url(/static/images/temp2.png)">
      <div>
        <h1>Event 2</h1>
        <p>Learn about some of the most common HTML tags…</p>
        <div class="date">9 Oct 2017</div>
        <div class="tags">
          <div class="tag">SPONSORS</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <a class="card" style="--bg-img: url(/static/images/temp1.png)">
      <div>
        <h1>Event 3</h1>
        <p>Learn how to use links and images along with file paths…</p>
        <div class="date">14 Oct 2017</div>
        <div class="tags">
          <div class="tag">SPONSORS</div>
        </div>
      </div>
    </a>
  </div>
</section>
    

    

    <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
    showDivs(slideIndex += n);
    }

    function currentDiv(n) {
    showDivs(slideIndex = n);
    }

    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-white", "");
    }
    x[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " w3-white";
    }

  
    </script>
    </body>

  


    <footer>  
        {% include "footer.jinja" %}
    </footer>





{% endblock %}