    <br>
<div class="many_center">
    <a href ={{ url_for('index') }}>
        <img img id="WITlogo" alt="WIT Logo" src="/static/images/wit_logo_white.png" width="250px">
    </a>

    <a href ={{ url_for('contactus') }}>Contact Us</a>

    <div class="footer_socials">
        <p>Follow our socials</p><br>
        <a href="https://www.linkedin.com/company/witusyd/">
            <img img id="socials" alt="LinkedIn Logo" src="/static/images/linkedin.png" width="40px">
        </a>     
        <a href="https://www.instagram.com/witusyd/">
            <img img id="socials" alt="Instagram Logo" src="/static/images/insta.png" width="40px">
        </a>   
        <a href="https://www.facebook.com/witusyd">
            <img img id="socials" alt="Facebook Logo" src="/static/images/facebook.png" width="40px">
        </a>  
    </div>

</div>

<p> Developed by Arielle Gravning, Cindy Nguyen and Selina Thai. </p>
