{% extends 'top.jinja' %}

{% block content %} 
    <h1>HOMEPAGE</h1>

    <!-- Mission Statement -->
    <div class="many_center">
        <img img id="mascot_design" alt="Floral WIT Design" src="/static/images/Flower.png" width="400px">
        <p><b>OUR MISSION IS .............................................................................</b></p>
    </div>
   
    <br><br><br> 

    <!-- SlideShow -->
    <div class="slideshow_wrapper">
        <div class="slider">
            <img id="img-1" src="/static/images/temp1.png" alt="Image 1"/>
            <img id="img-2" src="/static/images/temp2.png" alt="Image 2"/>
            <img id="img-3" src="/static/images/temp3.png" alt="Image 3"/>
        </div>
        <div class="navigation-button">
            <span class="dot" onclick="changeSlide(0)"></span>
            <span class="dot" onclick="changeSlide(1)"></span>
            <span class="dot" onclick="changeSlide(2)"></span>
        </div>
    </div>

    <script src="/static/js/libs/main.js"></script>

    <br><br><br> 

    <!-- Socials -->
    <h2>Follow Our Socials!</h2><br><br> 
    <div class="many_center">
        <a href="https://www.linkedin.com/company/witusyd/" target="_blank">
            <img img id="Linkedin" alt="LinkedIn Logo" src="/static/images/linkedin.png" width="100px">
        </a>     
        <a href="https://www.instagram.com/witusyd/" target="_blank">
            <img img id="Instagram" alt="Instagram Logo" src="/static/images/insta.png" width="100px">
        </a>   
        <a href="https://www.facebook.com/witusyd" target="_blank">
            <img img id="Facebook" alt="Facebook Logo" src="/static/images/facebook.png" width="100px">
        </a>    
    </div>

    <br><br><br> 

    <!-- Sponsors -->
    <section id="home_sponsor">
        <h1>Sponsors</h1>
        <div class="many_center">
            <a href="https://www.atlassian.com/" target="_blank">
                <img img id="sponsor1" alt="Atlassian Logo" src="/static/images/Atlassian_logo.png" width="250px">
            </a>
            <a href="http://e-lead.com.au/" target="_blank">
                <img img id="sponsor4" alt="E-Lead Logo" src="/static/images/Elead_logo.png" width="250px">
            </a> 
            <a href="https://www.janestreet.com/" target="_blank">
                <img img id="sponsor3" alt="JaneStreet Logo" src="/static/images/JaneStreet_logo.png" width="250px">
            </a>
        </div>
        <div class="many_center">
            <a href="https://www.rabobank.com.au/" target="_blank">
                <img img id="sponsor4" alt="Rabobank Logo" src="/static/images/rabobank.png" width="300px">
            </a>    
            <a href="https://www.recordpoint.com/" target="_blank">
                <img img id="sponsor5" alt="RecordPoint Logo" src="/static/images/recordpoint.png" width="300px">
            </a> 
        </div>
    </section>

    <footer>  
        {% include "footer.jinja" %}
    </footer>


{% endblock %}