{% extends 'top.jinja' %}

{% block content %} 

    <h1>HOMEPAGE</h1>
    <p>paragraph...</p>


 <!-- Sponsors -->
    <section>
        <h1>Sponsors</h1>
        <h2> Silver Tier</h2>
        
        <div class="many_center">
            <a href="https://www.atlassian.com/">
                <img img id="sponsor1" alt="Atlassian Logo" src="Images/Atlassian_logo.png" width="200px">
            </a>
            <a href="https://www.recordpoint.com/">
                <img img id="sponsor2" alt="RecordPoint Logo" src="Images/RecordPoint_logo.png" width="300px">
            </a>
            <a href="https://www.janestreet.com/">
                <img img id="sponsor3" alt="JaneStreet Logo" src="Images/JaneStreet_logo.png" width="200px">
            </a>
        </div>
        <div class="many_center">
            <a href="http://e-lead.com.au/">
                <img img id="sponsor4" alt="E-Lead Logo" src="Images/Elead_logo.png" width="200px">
            </a>    
        </div>
    </section>



{% endblock %}