<!DOCTYPE html>
<html>
    <head>
        <!-- Meta Viewport Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Link to the CSS stylesheet -->
        <link rel="stylesheet" href="/static/style.css">

        <!-- Title of webpage in the browser -->
        <meta charset="UTF-8">
        
        <title>Women in Technology USYD</title> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/static/js/libs/axios.min.js"></script>
        <script src="/static/js/libs/jquery.min.js"></script>
        <script src="/static/js/libs/js.cookie.min.js"></script>
    </head>

    <body>
        {% block navbar %} {% endblock %}
    </body>

</html>