{% extends 'top.jinja' %}

{% block content %} 
    <style>

        .pub {
            display: inline-block;
            text-align: center;
        }

        .pub-thumbnail {
            width: 200px;
        }

        .pub-caption {
            margin-top: 20px;
            color: inherit;
        }

        .prospectus-container {
            display: inline-block;
            text-align: center;
        }

        .feather-external-link {
            width: 12px;
            height: 12px;
            vertical-align: middle;
        }
    </style>

    <h1>Publications</h1>

    <figure class="pub">
        <img src="{{ url_for('static', filename='prospectus-thumbnail.png') }}" alt="Magazine Front Page" class="pub-thumbnail">
        <figcaption>
            <a href="{{ url_for('static', filename='prospectus.pdf') }}" target="_blank" class="pub-caption">
                Prospectus 2024 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather-external-link">
                    <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                    <polyline points="15 3 21 3 21 9"></polyline>
                    <line x1="10" y1="14" x2="21" y2="3"></line>
                </svg>
            </a>
        </figcaption>
    </figure>

{% endblock %}
