{% extends 'top.jinja' %}

{% block content %} 

    <style>
       
        .description {
            margin-left: 50px;
        }

        hr {
            clear:both;
            display:block;
            width: 70%;               
            background-color: lightgray;
            height: 1px;
            margin: 30px 0 30px;
            margin-left: auto;
            margin-right: auto;
        }

      


  
    </style>


 
    <h1>SPONSORS</h1>
    <p>Women In Technology USYD takes pride in having sponsors from a diverse array of industries. 
    We recognize and deeply appreciate the incredible flexibility that technology offers across various
     sectors. From traditional software-focused tech companies to banking and trading firms, we are
      committed to exposing our members to the multifaceted impact of technology in different areas. </p>

    <br><p style="margin-bottom:30px;">To achieve this, in 2024 we are partnering with esteemed organisations including 
    <b>Atlassian, Jane Street, Rabobank, E-LEAD, and RecordPoint</b>.
    </p>

    <hr style="margin-top: 60px;">

    <div class="many_center">
        <a href="https://www.atlassian.com/" target="_blank">
            <img img id="sponsor_logo" alt="Atlassian Logo" src="/static/images/Atlassian_logo.png" width="300px">
        </a>
       
        <p class="description">Atlassian is an Australian software company that develops world-class tools for software developers, 
        project managers and content management, including Jira, Confluence and Bitbucket. Atlassian has more 
        than 260,000 customers worldwide, and 80% of Fortune 500 companies use Atlassian products.</p>
    </div>   

    <hr> 

    <div class="many_center">
        <a href="https://www.rabobank.com.au/" target="_blank">
            <img img id="sponsor4" alt="Rabobank Logo" src="/static/images/rabobank_landscape.webp" width="300px">
        </a>  
       
        <p class="description">Rabobank is an international banking company focused on sustainably supporting both farmers and 
        agribusinesses to grow more with less. They support Australia’s farmers through a global network of farmers 
        across 40 countries, with a goal to help clients feed the world more sustainably. Rabobank has been recognised by DBM as 
        Australia’s best customer service business bank, and a LinkedIn Top Company.</p>
    </div>

    <hr>

    <div class="many_center">
        <a href="https://www.janestreet.com/" target="_blank">
            <img img id="sponsor3" alt="JaneStreet Logo" src="/static/images/JaneStreet_logo.png" width="300px">
        </a> 
       
        <p class="description">Jane Street is a global quantitative trading firm and liquidity provider with a unique 
        focus on technological innovation and collaborative problem solving. The company has more than 2600 employees 
        across five global offices, and trades a broad range of asset classes on more than 200 venues in 45 countries.</p>
    </div>

    <hr>

    <div class="many_center">
        <a href="http://e-lead.com.au/" target="_blank">
            <img img id="sponsor4" alt="E-Lead Logo" src="/static/images/Elead_logo.png" width="300px">
        </a> 
       
        <p class="description">E-LEAD Global Centre of Excellence for Leadership, Engagement and Development 
        is an Australian organisation devoted to enhancing the capabilities, aspirations and impact of future 
        and emerging leaders for active global leadership. They develop leaders through experiential learning 
        and electronic engagement with award nominations from Westpac and Telstra.  E-LEAD has a community 
        of over 27,000 people and activities in over 15 countries.</p>
    </div>

    <hr>

    <div class="many_center" style="margin-bottom: 60px;">
        <a href="https://www.recordpoint.com/" target="_blank">
            <img img id="sponsor5" alt="RecordPoint Logo" src="/static/images/recordpoint.png" width="300px">
        </a> 
       
        <p class="description">RecordPoint is a leading data management company that has been in the industry 
        for over 15 years. The company aims to bring calm to the chaotic world of data, letting organisations
        discover, govern, and control their data for tighter compliance, more efficiency, and less risk.</p>
    </div>

  
   
    <br><br>
    <footer>  
        {% include "footer.jinja" %}
    </footer>

    


 



{% endblock %} 